.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.list-div ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.list-div ul li {
  cursor: pointer;
  padding-left: 15px;
}
.list-div{
  width: 184px;
  border: 1px solid black;
  border-top: none;
}
.header input{
  width: 163px;
  padding: 4px 10px;
}
.list-div ul li:hover {
  background-color: #8a8a8a21;
}
.input-box {
  position: absolute;
  display: flex;
  align-items: center;
}
.close-list {
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #757575;
}